
/*movil nav*/
.modal-sidebar .logo-texsim-blanco{
    width: 80%;

}

.borde-movil-gris{
    border-bottom: 1px solid #534F50;
}

span{
    font-family: 'oswald';
}

.modal-sidebar .movil-categorias{
    color: grey;
    text-transform: uppercase;
}

.modal-sidebar .fa-times{
    font-size: 0.8em;
}

.carrito-icon-div{
    position: relative
}

.carrito-icon-div .navbar-icon-link-badge{
    top:-8px;
    margin-right: 0;
    right: -8px;

}
.navbar-movil .fal{
    font-size: 1.7em;
}

.movil-iconos span{
    font-size: 0.8rem;
}

.movil-iconos .col{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2px;
}

.movil-logo-div{
    width: 40%;
}

.tel-movil{
    font-size: 1rem;
}


.modal-sidebar .fab{
    font-size: 1.5rem;
}

.text-hogar{
    color: #ef6285;
}

.text-moda{
    color: #2D94C6;
}
.bg-moda{
    background-color: #35b0ef
}

.movil-search-bar .texsim-search-input,.movil-search-bar .texsim-search-input:focus,.movil-search-bar .texsim-search-input:before{
    background:none;
    width: 70%;
}

.modal.left.fade.show .modal-dialog {
    left: 0;
}
.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 70%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    overflow: auto;
    /*height: 680px;*/
}


@font-face{font-family:'dinbold';
           src:url('din-bold-webfont.woff2') format('woff2'),
               url('din-bold-webfont.woff') format('woff');
           font-weight:normal;
           font-style:normal;}
@font-face{font-family:'dinregular';
           src:url('din-regular-webfont.woff2') format('woff2'),
               url('din-regular-webfont.woff') format('woff');
           font-weight:normal;font-style:normal;
}


body {
    margin: 0;
    font-family: 'dinregular';
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #ededed
}

h3{
    /*padding-bottom: 15px ;*/
}

.fila-imagen-redes-dos .col {
    padding: 6px;
}

.fila-imagen-redes-dos .col img{
    width: 100%;
}

.fila-imagen-redes-dos .row{
    margin-left: -6px;
    margin-right:  -6px;
}

.img-redes-grande{
    padding: 12px;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .5rem .5rem .2rem 0rem;
    margin-bottom: 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    text-transform: uppercase;
}



/*7 filas principal*/

.modal .row{
    margin-left: -4px;
    margin-right: -4px;
}

.flex-1{
    flex:1;
}

.flex-2{
    flex: 2;

}
.flex-5{
    flex: 5
}
.flex-7{
    flex: 7
}

.siete-filas-principal h1, .siete-filas-principal h2,.siete-filas-principal h3,.siete-filas-principal h4{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing:1px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing:1px;
    color: #212529;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}



/*carrousel imagenes*/
.carousel-indicators{
    bottom: -40px;
    padding-left: 65rem;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color:gray;
}
.carousel-indicators .active {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color:royalblue;
}

.dos-filas-carrusel .col{
    padding:4px;
}



/*dos filas iconos*/
.dosFilasIconos img{
    background-color: white;
}

.dosFilasIconos h3 {
    padding-bottom: 15px;
}

.filas-iconos {
    padding-top: 10px;
}

.dosFilasIconos .col{
    padding: 2px;
}
.dosFilasIconos .row{
    margin-left: -2px;
    margin-right: -2px;
}
/*dos filas principal*/
.contenido-index h1, .contenido-index h2,.contenido-index h3,.contenido-index h4{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.dos-filas-principal .col {
    padding:4px;
}

.row .fila-regular .row{
    margin: 0;
}

.cuadricula-principal .principal{
    padding: 4px;
}

.cuadricula-principal > .row{
    margin-left: -4px;
    margin-right: -4px;
}


/*dos filas regular*/
.dos-filas-regular h1, .dos-filas-regular h2,.dos-filas-regular h3,.dos-filas-regular h4{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.dos-filas-regular .col {
    padding: 4px;
}

.item-vidriera:hover{
    opacity: 1;
}

.hover-div{
    position: relative;
}

.item-vidriera{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;

}

.item-vidriera span{
    font-family: 'dinbold';
    padding: 8px;
    font-size: 0.9rem;
    position: absolute;
    top:0;
    left:0;

}
.item-vidriera .lupa-item{
    width: 2em;
}

.dos-filas-regular .row{
    margin-left: -4px;
    margin-right: -4px;
}

.close.modal-close {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #343a40;
    color: #fff !important;
    position: absolute;
    top: -5px;
    right: -5px;
    opacity: 1;
    font-size: .8rem;
    z-index: 999;
    cursor: pointer;
    outline: none;
}

.dos-filas-regular .modal-dialog .title{
    /*font-family: 'dinbold';*/
    /*font-weight: 700;*/
    /*line-height: 1.1;*/

    /*max-width: inherit;*/
    /*width: auto;*/
    /*font-family: 'dinregular' !important;*/
}

.modal-item-div h3{
    font-size: 1.8rem;
    font-family: 'dinregular';
    font-weight: 700;
    line-height: 1.1;
}

.modal-item-div h2{
    font-weight: 700;
    font-family: 'dinbold';
    font-size: 2.5rem;
    text-transform: uppercase;
}

.modal-item-div p{
    font-family: 'dinregular';
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
}

.modal-item-div label{
    font-family: 'dinregular';
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-transform: uppercase;
    color: #495057;
}

.form-label {
    color: #868e96;
    font-size: .7875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .3em;
    line-height: 1;
    padding: .6rem .75rem;
    font-size: .6875rem;
    line-height: 1.5;
    border-radius: 0;
    white-space: nowrap;
}

.btn-lg{
    padding: 1.5rem 1.5rem;
    font-size: .7875rem;
    line-height: 1.5;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .3em;
}

.btn-dark {
    color: #fff;
    background-color: #363b41;
    border-color: #363b41;
}



.form-group p {
    float: right;
    height: 2px;
    margin-left: 10px;
    margin-top: 1px;
}
.form-group .fa-envelope, .form-group .fa-whatsapp{
    font-size: 1.15rem;
}

.btn-pedido {
    margin: .5em;
}

.btn-outline-secondary {
    color: #868e96;
    background-color: transparent;
    background-image: none;
    border-color: #868e96;
}
.btn-title {
    font-family: 'dinbold';
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0em;
    line-height: 1;
    padding: .6rem .75rem;
    line-height: 1.5;
    border-radius: 0
}

.detail-quantity {
    max-width: 5rem;
    text-align: center;
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1000px
    }
}

@media (max-width: 768px) {
    .nav2-img {
        height: 60px !important;
    }
}

@media (max-width: 992px) {
    .modal-item-div .img-modal-item {
        width: 85% !important
    }
}

/*fila imagen redes*/



/*fila imagenes*/
.filaImagenes h3{
    padding-bottom: 15px;
}
/*nav1*/

.nav1 .navbar-icon-link-badge {
    background: #fff;
    color: #343a40;
}

.nav1 .nav-item{
    position: relative;
}

.navbar-icon-link-badge {
    position: relative;
    width: 18px;
    height: 18px;
    line-height: 18px;
    top: -10px;
    right: 10px;
}
.navbar-icon-link-badge {
    margin-right: -1.5em;
}
.navbar-icon-link-badge {
    position: absolute;
    top: -2px;
    right: 8;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #343a40;
    color: #fff;
    text-align: center;
    font-size: 0.6rem;
}

.tooltiptext-notice{
    display: none;
}
.tooltiptext-link{
    visibility: hidden;
}
.tooltiptext {

    /*sombra*/
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

    /*visibility: hidden;*/
    /*max-width: 140px;*/
    width: 160px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 20px;

    /* Position the tooltip */
    position: absolute;
    right: 0;
    z-index: 100;
}


.nav1 { 
    background-color: rgb(35, 31, 31);
    /*height: 90px;*/
}


.nav1 .logo{
    margin-right: 2em;
}

.nav1 form{
    margin-left: 1em;
    margin-right: 1em;
}

.nav1 .logo img {
    width: 250px;
    margin-bottom: 6px;
}

.texsim-search-input, .texsim-search-input:focus, .texsim-search-input:before {
    background-color: gray;
    border-radius: 0;
    border: 0;
    color: white;
    box-shadow: none;
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 1em;
}

.tel {
    margin-right: 1em;
    margin-left: 1em;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    height: 40px;

}


.lupa-icon {
    color: black;
    width: 28px;
    margin-left: -35px;
    z-index: 10;
    cursor: pointer;
}

.contenedor-logos{
    height: 40px;
    margin-left: 1em;
    /*margin-right: 1em;*/
}

.contenedor-logos a{
    /*font-family: 'Oswald', sans-serif;*/
    color:white;
    font-size: 24px;
    margin-left: 1em;
}

.contenedor-logos img {
    width:  26px;
    /*margin-left: 1em;*/
}
/*nav2*/


#telas-dropdown{
    height: 300px;
}

.nav3 .logo{
    width: 70px;
}


.nav2 {
    position: relative
}

.absolute-div{
    position: absolute;
    top:0;
    right: 0; 

}

.nav2-img{
    /*height: 120px;*/
    object-fit: cover;
    width: 100%;
    height: 100px;
}


.absolute-div  a{
    font-family: 'Oswald', sans-serif;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
}

.nav3 a{
    /*font-family: 'Oswald', sans-serif;*/
    /*color: #737373;*/
    /*padding-left: 8px;*/
    /*padding-right: 8px;*/
    font-size: 15px;
}

.nav3 .text-grey a,.nav3 .text-grey i{
    color: #737373
}
.nav3 .text-grey i{
    position: relative;
    top:4px;
    font-size: 22px;
    /*font-weight: 500;*/
}

.nav3 li{
    margin-right: 2em;
}

.absolute-div a:hover{
    color: #0074ab;
    text-decoration: none

}

/*sidebar menu*/
.sidebar-menu{
    font-family: 'Oswald', sans-serif;
    letter-spacing:1px;
    width: 50%;
}

.sidebar-menu a img {
    width: 64%;
}
.sb-titulo{
    color: rgb(87, 87, 87);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.sb-opciones{
    color:  rgb(120, 120, 120);
    text-decoration: none;
    font-size: 13px;
    font-weight: lighter;
}
/*footer*/


.site-footer {
    background-color: #f7f7f7;
    padding-top: 2em;
    line-height: 1;
    letter-spacing:2px;
    text-transform: full-width;
}

.footer-anexo {
    background-color: rgb(247, 247, 247);


}

.footer-anexo span {
    color: #747474;
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 500;
    padding: 5px 0;
}


.titulos-f-1{
    color: rgb(87, 87, 87);
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;

}

.titulos-f-2{
    color: rgb(80, 80, 80);
    text-decoration: underline;
    font-size: 12px;
    font-weight: 500;

}

.site-footer ul li a {
    line-height: 0rem;


}
.links-footer {
    color:  rgb(100, 100, 100);
    font-size: 11px;    
}

.copyright {
    background-color: white;
    padding-top: 2em;
    letter-spacing:1px;

    /*margin: 0 25px;*/
}

.copyright p {
    font-family: Helvetica, Arial, sans-serif;
    color:  rgb(100, 100, 100);
    font-weight: normal;
    font-size: 12px;
}

.links {
    padding-top: 5px;
}